.navbar {
  min-height: 2rem;
  display: flex;
  flex-flow: row nowrap;
  padding: 0.5em 3em;
  background: #7952b3;
  justify-content: space-between;
}

.navbar > .links {
  display: flex;
  flex-flow: row nowrap;
  margin: auto 0 auto 2rem;
  list-style-type: none;
}

.navbar > .links .link,
.navbar > .links .link span {
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  flex-grow: 1;
  text-decoration: none;
  margin-left: 1rem;
}

.navbar > .links .link a,
.navbar > .links .link span {
  font-size: 1.7rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.5);
  transition: color 0.18s ease;
}

.navbar > .links .link a:hover,
.navbar > .links .link span:hover {
  color: hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
}

.social {
  margin: auto 2rem;
}

.active {
  color: #fff !important;
  font-weight: 500;
}
